<!DOCTYPE html>
<html>
  <head>
    <title>GoPark</title>
    <%= stylesheet_link_tag "park.css" %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet">
  </head>
  <body>
    <nav class="main-navbar">
       <div class="navigation-wrapper">
         <img  src="/pics/GoPark2.png" alt="" width="60px">
       </div>
       <div class="nav-items">
         <%= link_to "About Creator", car_logs_profile_path, class: 'navbutton' %>
       </div>
   </nav>
    <div class="section-container">
      <!-- <img class="photo-main" src="/pics/GoPark2.png" alt="" width="5%"> -->
      <img class="photo-main" src="/pics/GoPark3.png" alt="" width="50%">
      <span>
        <%= link_to "Create Car Log", car_logs_new_path, class: 'button' %>
        <%= link_to "View Car Log", car_logs_show_path, class: 'button m' %>
      </span>
    </div>
  </body>
</html>
