<!DOCTYPE html>
<html>
  <head>
    <title>GoPark</title>
    <%= stylesheet_link_tag "park.css" %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet">
  </head>
  <body>
    <nav class="main-navbar">
       <div class="navigation-wrapper">
         <img  src="/pics/GoPark2.png" alt="" width="60px">
       </div>
       <div class="nav-items">
         <%= link_to "Home", root_path, class: 'navbutton' %>
         <%= link_to "About Creator", car_logs_profile_path, class: 'navbutton m' %>
         <%= link_to "View Car Log", car_logs_show_path, class: 'navbutton m' %>
       </div>
   </nav>
    <div class="section-container">
      <div class="error">
        <h1>Create New Car Log</h1>
        <% if @carlogs.errors.any? %>

        <h2>Errors:</h2>
          <% @carlogs.errors.full_messages.each do |msg| (:li) %>
          <%= msg %>
          <% end %>
        <% end %>
      </div>
      <%= form_for @carlogs do |t| %>
        <table>
          <tr>
            <th><%= t.label :plate_number %></th>
            <th><%= t.text_field :plate_number %></th>
          </tr>
          <tr>
            <th><%= t.label :color %></th>
            <th><%= t.select :color, ['Black', 'White', 'Blue', 'Red', 'Silver', 'Yellow'], :prompt => 'Select One' %></th>
          </tr>
          <tr>
            <th><%= t.label :brand %></th>
            <th><%= t.select :brand, ['Toyota', 'Honda', 'BMW', 'Mercedes', 'Ford', 'Ferrari', 'Hyundai', 'Porsche'], :prompt => 'Select One' %></th>
          </tr>
          <tr>
            <th><%= t.label :time_in %></th>
            <th><%= t.time_field :time_in %></th>
          </tr>
          <tr>
            <th><%= t.label :time_out %></th>
            <th><%= t.time_field :time_out %></th>
          </tr>
            <td colspan="2"><%= t.submit 'Submit', class: 'button' =%></td>
          </table>

      <% end %>
    </div>
  </body>
</html>
