<!DOCTYPE html>
<html>
  <head>
    <title>GoPark</title>
    <%= stylesheet_link_tag "park.css" %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet">
  </head>
  <body>
    <nav class="main-navbar">
       <div class="navigation-wrapper">
         <img  src="/pics/GoPark2.png" alt="" width="60px">
       </div>
       <div class="nav-items">
         <%= link_to "Home", root_path, class: 'navbutton' %>
         <%= link_to "Create Car Log", car_logs_new_path, class: 'navbutton m' %>
       </div>
   </nav>
    <div class="section-container">
      <h1 >Hello, I'm Andii</h1>
      <img class="photo-main" src="/pics/profile.jpg" alt="" width="30%">
      <p>
        I am a 3 BS Management Information Systems student who loves animals and travelling.
      </p>
    </div>
  </body>
</html>
