<!DOCTYPE html>
<html>
  <head>
    <title>GoPark</title>
    <%= stylesheet_link_tag "park.css" %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet">
  </head>
  <body>
    <nav class="main-navbar">
       <div class="navigation-wrapper">
         <img  src="/pics/GoPark2.png" alt="" width="60px">
       </div>
       <div class="nav-items">
         <%= link_to "Home", root_path, class: 'navbutton' %>
         <%= link_to "About Creator", car_logs_profile_path, class: 'navbutton m' %>
         <%= link_to "Create Car Log", car_logs_new_path, class: 'navbutton m' %>
       </div>
   </nav>
    <div class="section-container">
      <h1>Last CarLogs</h1>
      <table>
        <tr>
          <th>Plate Number:</th>
          <th> <%= @carlogs.plate_number %></th>
        </tr>
        <tr>
          <th>Color:</th>
          <th><%= @carlogs.color %></th>
        </tr>
        <tr>
          <th>Brand:</th>
          <th><%= @carlogs.brand %></th>
        </tr>
        <tr>
          <th>Time-in:</th>
          <th><%= @carlogs.time_in %></th>
        </tr>
        <tr>
          <th>Time-out:</th>
          <th><%= @carlogs.time_out %></th>

        </tr>
        <tr>
          <th>Created at:</th>
          <th><%= Time.now.strftime("%B %e, %Y at %I:%M %p") %></th>
        </tr>
        <tr>
          <th>Updated at:</th>
          <th><%= Time.now.strftime("%B %e, %Y at %I:%M %p") %></th>
          </th>
        </tr>
        </table>

    </div>
  </body>
</html>
