body{
  font-family: 'Noto Sans', sans-serif;
  background-color: #2b2b2b;
  margin: 0px;
}

h1{
  color: #fff8ec;
margin-top: 50px;
}

p{
  color:#fff8ec;
  width: 400px;
  justify-content: center;
}

table{
  border-spacing: 20px;
  border-color: #ffd66a;
}

th{
  font-weight: normal;
}

tr{
  color:#fff8ec;
}

td{
 text-align: center;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.navigation-wrapper{
    display: block;
}

.main-navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background:#ffd66a;
    position: relative;
    width: 100%;
}

.nav-items{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}

.section-container{
  height: 80vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
}

.photo-main{
  padding-bottom: 30px;
}

.button{
  text-decoration: none ;
  font-family: 'Noto Sans', sans-serif;
  border: 5px solid #ffd66a;
  background: #ffd66a;
  border-radius: 3px;
  width: auto;
  font-weight: normal;
  font-size: 14px;
  color: #2b2b2b;
  -webkit-transition:0.3s ease-out;
  transition: 0.3s ease-out;
  padding: 5px;
}

.navbutton{
  text-decoration: none ;
  font-family: 'Noto Sans', sans-serif;
  border: 2px solid #2b2b2b;
  background: #ffd66a;
  border-radius: 3px;
  width: auto;
  font-weight: normal;
  font-size: 14px;
  color: #2b2b2b;
  -webkit-transition:0.3s ease-out;
  transition: 0.3s ease-out;
  padding: 5px;
}

.m{
  margin-left: 20px;
}



.navbutton:hover{
  text-decoration: none ;
  font-family: 'Noto Sans', sans-serif;
  border: 1px solid #fff8ec;
  background: #fff8ec;
  border-radius: 3px;
  width: auto;
  font-weight: normal;
  font-size: 14px;
  color: #2b2b2b;
  -webkit-transition:0.3s ease-out;
  transition: 0.3s ease-out;
}

.button:hover{
  text-decoration: none ;
  font-family: 'Noto Sans', sans-serif;
  border: 5px solid #fff8ec;
  background: #fff8ec;
  border-radius: 3px;
  width: auto;
  font-weight: normal;
  font-size: 14px;
  color: #2b2b2b;
  -webkit-transition:0.3s ease-out;
  transition: 0.3s ease-out;
}

.alert-success{
  background: #a6ef6e;
}

.alert-danger{
  background: #f7685d;
}

.section{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
}

.error{
  color: #f7685d;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
}
