<!DOCTYPE html>
<html>
  <head>
    <title>GoPark</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <div class="section alert-success">
        <% if notice %>
          <%= notice %>
        <% end %>
      </div>
      <div class="section alert-danger">
        <% if alert %>
          <%= alert %>
        <% end %>
      </div>
    </div>




    <%= yield %>
  </body>
</html>
